langchain
langchain_community
langchain-openai
langchain-ollama
ollama
python-dotenv
langchain_tavily
langchain-mcp-adapters
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
pageindex
tavily-python
deepagents
langsmith
nltk
pandas
langchain-text-splitters
matplotlib
numpy

#Embedding
langchain-huggingface

astrapy
langchain_astradb
langchain_pinecone
rank_bm25
wikipedia